body{

    display: flex;
    justify-content: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgb(110, 107, 218) 0%,
      #c9b9c0bb 35%,
      rgb(86, 119, 126) 100%
    );
}
.container{
    width: 300px;
    height: 600px;
    text-align: center;
   padding-top: 3rem;
margin-top: 5rem;
border-radius: 5rem;
box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background: rgb(2, 0, 36);
background: linear-gradient(
  90deg,
  rgb(110, 107, 218) 0%,
  #c9b9c0bb 35%,
  rgb(86, 119, 126) 100%
);
  
}
input{
    text-align: end;
}
input::placeholder{
    text-align: end;
    font-size: 1.5rem;
    padding: 6px;
}
.calc-screen{
    width: 250px;
    height: 50px;
    border-radius: .75rem;
    box-shadow: 0 4px 8px 0 rgb(154, 157, 159), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.calc-keys{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.btn{
    border-radius: 3rem;
    width: 55px;
    height: 55px;
    box-shadow: 0 4px 8px 0 rgb(67, 124, 163), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
btn:hover{
    background-color: rgb(16, 167, 167);
}
#clear{
    align-items: center;
}

